
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class=" media align-items-stretch">
                    <div class="card-header p-2 text-center bg-primary bg-darken-2">
                        <div class="card-title text-black p-t-10">
                            <span class="font-montserrat fs-11 all-caps">
                                Citas.C <i class="fa fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                    <div class="p-l-20 p-b-10  p-2 bg-gradient-x-primary white media-body" style="text-align:center">
                        <h3 class="no-margin p-b-5">S/.<span id="cmpS"></span></h3>
                        <span class="hint-text">$ <span id="cmpD"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class=" media align-items-stretch">
                    <div class="card-header p-2 text-center bg-danger bg-darken-2">
                        <div class="card-title text-black p-t-10">
                            <input id="txtFiltro" style="display:none" class="form-control input-sm col-12 col-md-4" placeholder="Filtrar ... " />
                            <span class="font-montserrat fs-11 all-caps">
                                Ventas <i class="fa fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                    <div class="p-l-20 p-b-10 p-2 bg-gradient-x-danger white media-body" style="text-align:center">
                        <h3 class="no-margin p-b-5">S/.<span id="vntS"></span></h3>
                        <span class="hint-text">$ <span id="vntD"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class=" media align-items-stretch">
                    <div class="card-header p-2 text-center bg-warning bg-darken-2">
                        <div class="card-title text-black p-t-10">
                            <span class="font-montserrat fs-11 all-caps">
                                Pagos<i class="fa fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                    <div class="p-l-20 p-b-10 p-2 bg-gradient-x-warning white media-body" style="text-align:center">
                        <h3 class="no-margin p-b-5">S/.<span id="ppC">0</span></h3>
                        <span class="hint-text">pago </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="media align-items-stretch">
                    <div class="card-header p-2 text-center bg-success bg-darken-2">
                        <div class="card-title text-black p-t-10">
                            <span class="font-montserrat fs-11 all-caps">
                                Total.C <i class="fa fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                    <div class="p-l-20 p-b-10 p-2 bg-gradient-x-success white media-body" style="text-align:center">
                        <h3 class="no-margin p-b-5">S/.<span id="pcV">0</span></h3>
                        <span class="hint-text">Pendiente</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row match-height">
    <div class="col-xl-8 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title p-t-10">Ventas / Compras : </h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="chart-container" style="">
                        <canvas id="graphCV"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row match-height">
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header p-b-5">
                <div class="card-title text-black p-t-10">
                    <span class="font-montserrat fs-11 all-caps">
                        T.Servicios mas usados <i class="fa fa-chevron-right"></i>
                    </span>
                </div>
            </div>
            <div class="card-content" style="font-size:9px;">
                <div class="card-body p-t-5 p-b-5">
                    <div class="col-sm-12 hidden-sm-down" id="cabeVentas"></div>
                    <div class="col-sm-12 table-responsive" id="divTablaVentas" style="min-height:200px;">
                        <div id="contentPrincipalVentas" class="clusterize-content">
                            <canvas id="oilChart" width="540" height="360"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-12">
        <div class="card">
            <div class="card-header p-b-5">
                <div class="card-title text-black p-t-10">
                    <span class="font-montserrat fs-11 all-caps">
                        Compras Reciente <i class="fa fa-chevron-right"></i>
                    </span>
                </div>
            </div>
            <div class="card-content" style="font-size:9px;">
                <div class="card-body p-t-5 p-b-5">
                    <div class="col-sm-12 hidden-sm-down" id="cabeCompras"></div>
                    <div class="col-sm-12 table-responsive" id="divTablaCompras" style="min-height:200px;">
                        <div id="contentPrincipalCompras" class="clusterize-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header p-b-5">
                <div class="card-title text-black p-t-10">
                    <span class="font-montserrat fs-11 all-caps">
                        Ventas Reciente <i class="fa fa-chevron-right"></i>
                    </span>
                </div>
            </div>
            <div class="card-content" style="font-size:8px;">
                <div class="card-body p-t-5 p-b-5">
                    <div class="col-sm-12 hidden-sm-down" id="cabeVentasRecientes"></div>
                    <div class="col-sm-12 table-responsive" id="divTablaVentasRecientes" style="">
                        <div id="contentPrincipalVentasRecientes" class="clusterize-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

